@import '../../styles/vereble.scss';

.single-book-center__item-link{
    color: #FFFFFF;
    text-decoration: none;

  }
  .single-book-center__item-link:hover{
    color: #FFFFFF;
  }
  .single-book-center__item-link-light{
    color: $text-color-light;
    text-decoration: none;
  }
  .single-book-center__item-link-light:hover{
    color: $text-color-light;
  }
  .single-book-center__item-link-active{
    color: #C9AC8C;
    text-decoration: none;
  }

  .single-book-center__item-link-active:hover{
    color: #C9AC8C;
  }

  .single-book--link-active{
    color: #C9AC8C;
  }