
.profile{
    background-color: #E5E5E5;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}



.profile__wrapper{
    background-color: #FFFFFF;
    min-height: 100vh;

}


.profile__wrapper-div{
    display: flex;
    justify-content: space-between;
    padding: 0 92px;
    padding-top: 50px;
}

.profile__left{
    margin-right: 100px;
}

.profile__heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #212121;
}

.profile__text-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #464E5F;
}

.profile__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
    background-color: #F3F6F9;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;

}

.profile__img{
    border-radius: 100px;
}

.profile__img-icon{
    position: absolute;
    bottom: -10px;
    right: 5px;
}

.profile__form-bottom{
    text-align: end;
    padding-top: 40px;
    border-top: solid 2px #F3F6F9;
}

.settigs-button{
    padding: 10px 20px;
    background-color: #152540;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.profile__form-bottom-wrapper{
    padding: 0 92px;
}