.author__wrapper {
  background-color: #f3f3f3;
  min-height: 100vh;
}

.author__bio {
  height: 100px;
}

.author__left {
  padding-top: 126px;
}

.author-btn {
    background-color: #152540;
    border: none;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 5px ;
    border-radius: 20px;
}
