@import '../../styles/vereble.scss';

.card {
  max-width: 175px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  border: none;
  background-color: #191919;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
  background-color: $body-color;
}
.card-light{
  background-color: $card-color-light;
  color: $text-color-light;
}

.card__link {
  padding: 15px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  border: none;
  display: inline-block;
}

.card__img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.card__title {
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #c9ac8c;
}

.card__time {
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

}


.card-book{
  max-width: 165px;
  width: 100%;
  background-color: #191919;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.card-book-light{
  background-color: $card-color-light;
  color: $text-color-light;
}

.card-book__title {
  font-family: "Rotterburg Stylish FREE";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #c9ac8c;

}

.card-book__author {
  font-family: "Visuelt Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 144.4%;

}

.card-book__img{
  border-radius: 15px;
}
