@import "../styles/vereble.scss";

.homepage{
    background-color: #000000;
    min-height: 100vh;
}

.homepage-light{
    background-color: $bg-color-light;
    min-height: 100vh;
}

.active-link{
    text-decoration: none;
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #C9AC8C;
}
.active-link:hover{
    color: #C9AC8C;
}

.active-link-light{
    text-decoration: none;
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #C9AC8C;
}
.active-link-light:hover{
    color: $text-color-light;
}

.homepage__nav-link{
    text-decoration: none;
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.homepage__nav-link:hover{
    color: #C9AC8C;
}
.homepage__nav-link-light{
    text-decoration: none;
    font-family: 'Steinbeck';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: $text-color-light;
}
.homepage__nav-link-light:hover{
    color: $text-color-light;
}

.homepage__nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.homepage__nav-item{
    margin-right: 40px;
}

.books{
    background-color: #000000;
    min-height: 100vh;
}

.books-light{
    background-color: $bg-color-light;
    min-height: 100vh;
}


// HERO************

.hero{
    background-color: $body-color;
    padding-top: 55px;
    padding-bottom: 100px;

}

.hero-light{
    background-color: $bg-color-light;
    padding-top: 55px;
    padding-bottom: 100px;
}
.hero__wrapper{
    background-image: url('../images/hero-home.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 346px;
    margin-bottom: 40px;
    position: relative;
}

.hero__search{
    width: 80%;
    justify-content: center;
    background-color: $bg-color;
    padding: 36px 86px;
    position: absolute;
    bottom: -80px;
    right: 10%;
    border-radius: 15px;

}

.hero__search-light{
    background-color: $bg-color-light;

}

.hero__form-div{
    display: flex;
    align-items: center;
    justify-content: center;
}