
@import '../../styles/vereble.scss';

.header{
    background-color: $body-color;
    border-bottom: solid 1px $bg-color;

}


.header__nav{
    margin-right: 150px;
}
.header__nav-list{
    list-style: none;
}

.header__nav-item{
    margin-right: 24px;
}

.header__nav-link{
    text-decoration: none;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 144.4%;
    color: $text-color;
    padding: 10px;

}

.header__nav-link:hover{
    color: $text-color;
}

.header__select{

    max-width: 30px;
    background-color: $bg-color;
    color: $text-color;
    border: none;
    margin-left: 5px;
}

.header__select-div{
    z-index: 1;
    top: 100%;
    right: 0;
    position: absolute;
    background-color: #FFFFFF;

}

.header__select-item{
    border-bottom: solid 1px $body-color;
    padding: 10px 50px;
}

.header__select-item:hover{
    background-color: teal;
    cursor: pointer;

}

.header__select-bg{
    background-color: $body-color;
    opacity: 75%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.header__select-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $body-color;
}

.header__select-menu p:hover{
    cursor: default;
}
.header__select-close{
    border: none;
    margin: 0;
    padding: 0;
    padding: 0 10px;
    font-size: 26px;
    margin-right: 2px;
}

.header__select-img{
    border-radius: 50px;
}

.active--link{
    border-bottom: solid 1px #FFFFFF;
}

.active--link:hover{
    color: $text-color;
}
